# ========================
# Go
# ========================
/bin/
/dist/
*.exe
*.test
*.out

# ========================
# Env
# ========================
.env
.env.*
!.env.example

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Logs
# ========================
*.log

# ========================
# Docker
# ========================
docker-data/
