services:
  postgres:
    image: postgres:16
    container_name: user_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command:
      - "-path"
      - "/migrations"
      - "-database"
      - "postgres://postgres:postgres@postgres:5432/mydb?sslmode=disable"
      - "up"


  user_service:
    build:
      context: .
      dockerfile: deployments/docker/Dockerfile
    container_name: user_service
    depends_on:
      - migrate
    env_file:
      - ./env/dev.env
    environment:
      APP_ENV: dev
      APP_PORT: 3455
      DB_DRIVER: postgres
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: mydb

    ports:
      - "3455:3455"

volumes:
  pgdata:
